@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    ExecuteAutomation<br />
    <abbr title="Phone">P:</abbr>
    012345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:karthik@techgeek.co.in">karthik@techgeek.co.in</a><br />
    <strong>Bugs:</strong> <a href="mailto:karthik@techgeek.co.in">karthik@techgeek.co.in</a>
</address>