@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">

    <table>
        <tr>
            <td>
                <img src="~/Image/eanewlogo.png" align="left"/>
                <h1 align="center">Employee App v1.0</h1>
                <h3 class="lead">Simplifying details !!!</h3>
                <a href="http://executeautomation.com" class="btn btn-primary btn-lg">Visit now &raquo;</a>
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            Employee App v1.0 features simple and intiuitve way of showing details of Employees within application
        </p>
        <p><a class="btn btn-default" href="http://executeautomation.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who's Building?</h2>
        <p>ExecuteAutomation.com is building this application and the application is open-source and free !!!</p>
        <p><a class="btn btn-default" href="http://executeautomation.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Whats new in ExecuteAutomation?</h2>
        <p>Executeautomation.com now features more than 200+ free video tutorials on Selenium, Coded UI Testing, Specflow, Appium, TFS, Robotium</p>
        <p><a class="btn btn-default" href="http://executeautomation.com">Learn more &raquo;</a></p>
    </div>
</div>